<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown placement="bottom-left">
          <a class="nav-link btn-rotate" ngbDropdownToggle id="navbarDropdownMenuLink">
            <div class="notify-container">
              <span class="notify-bubble" *ngIf="cartBadge > 0">{{cartBadge}}</span>
              <i class="nc-icon nc-cart-simple"></i>
            </div>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <div class="row cart-item" *ngFor="let item of cart">
              <div class="col-7 text-center">
                {{(item.name | translate) + " x " + item.selectedAmount + " = " + ((item.selectedAmount * item.price) |
                currency)}}
              </div>
              <div class="col-2">
                <i class="nc-icon nc-simple-delete" (click)="removeItem(item)"></i>
              </div>
              <div class="col-2">
                <i class="nc-icon nc-simple-add" (click)="addItem(item)"></i>
              </div>
            </div>
            <hr *ngIf="cart.length > 0" />
            <div class="row cart-item">
              <div class="col-6 text-center">
                <strong>{{'CART.BEFORE_TAX' | translate}}</strong>
              </div>
              <div class="col-6 text-center">
                {{calculateCartTotalAmount() | currency}}
              </div>
            </div>
            <div class="row cart-item">
              <div class="col-6 text-center">
                {{'CART.TAXES' | translate}}
              </div>
              <div class="col-6 text-center">
                {{calculateCartTaxAmount() | currency}}
              </div>
            </div>
            <hr *ngIf="combos.length > 0" />
            <div class="row cart-item" *ngFor="let combo of combos">
              <div class="col-6 text-center">
                <strong>{{getComboName(combo)}}</strong>
              </div>
              <div class="col-6 text-center discount-value">
                {{ "- " + (getComboDiscount(combo) | currency)}}
              </div>
            </div>
            <hr *ngIf="combos.length > 0" />
            <div class="row cart-item">
              <div class="col-6 text-center">
                <strong>{{'CART.TOTAL' | translate}}</strong>
              </div>
              <div class="col-6 text-center">
                <!-- the bill amount is summed up -->
                {{ checkoutTotal | currency}}
              </div>
            </div>
            <div class="row cart-item" *ngIf="cart.length > 0">
              <div class="col-12 text-center">
                <button class="btn btn-round btn-success" (click)="checkout()">{{'CART.CHECKOUT' | translate}}</button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item cursor-pointer" ngbDropdown placement="bottom-left"
          (click)="translate.currentLang === 'es' ? translate.use('en') : translate.use('es')">
          {{translate.currentLang | uppercase}}
        </li>
      </ul>
    </div>
  </div>
</nav>