.navbar {
    .notify-container {
        position: relative;
        display: inline-block;
    }

    .navbar-nav{
        align-items: center;
    }

    .notify-bubble {
        position: absolute;
        top: -14px;
        left: -10px;
        padding: 0 10px 0 10px;
        background-color: #ef8157;
        color: white;
        font-size: 0.65em;
        border-radius: 50%;
        height: 25px;
        box-shadow: 1px 1px 1px rgb(235, 191, 191);
    }

    .cart-item {
        padding: 16px 5px;

        i {
            cursor: pointer;
        }
        i:hover {
            color: #ef8157;
        }
    }

    .dropdown-menu hr{
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .discount-value{
        padding-left: 5px;
    }
}
