<div class="dashboard">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-bullet-list-67 text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">{{'DASHBOARD.ITEMS_COUNT' | translate}}</p>
                <p class="card-title">{{analytics.stock}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> {{'DASHBOARD.REAL_TIME' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">{{'DASHBOARD.REVENUE' | translate}}</p>
                <p class="card-title">{{analytics.revenue | currency}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> {{'DASHBOARD.IN_THE_LAST_DAY' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">{{'DASHBOARD.SALES' | translate}}</p>
                <p class="card-title">{{analytics.sales}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> {{'DASHBOARD.IN_THE_LAST_HOUR' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of items">
      <div class="card card-user" [ngClass]="{'soldOut' : item.amount === 0}">
        <div class="image">
          <span class="badge badge-pill badge-warning discount-badge">{{checkPotentialCombos(item)}}</span>
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <h5 class="title">{{item.name | translate}}</h5>
            </a>
          </div>
          <p class="description text-center">
            {{item.description | translate}}
          </p>
          <div class="row align-items-center">
            <div class="col-6">
              <div class="form-group">
                <input class="cart-amount" type="number" [min]="1" [max]="item.amount" [(ngModel)]="item.selectedAmount"
                  onKeyDown="return false" />
              </div>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-round" (click)="addItemsToCart(item)">{{'DASHBOARD.ADD_TO_CART' |
                translate}}</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 ml-auto">
                <h5>
                  {{item.amount}}
                  <br>
                  <small>{{'DASHBOARD.AVAILABLE_ITEMS' | translate}}</small>
                </h5>
              </div>
              <div class="col-lg-4 ml-auto mr-auto">
                <h5>
                  {{item.price | currency}}
                  <br>
                  <small>{{'DASHBOARD.PRICE' | translate}}</small>
                </h5>
              </div>
              <div class="col-lg-4 mr-auto">
                <h5>
                  {{item.taxPercentage + "%"}}
                  <br>
                  <small>{{'DASHBOARD.TAX' | translate}}</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>