.dashboard {
    .card-user {
        cursor: pointer;
    }

    .card-user:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.275);
    }

    .cart-amount {
        width: 70%;
        float: right;
    }

    .soldOut {
        opacity: 0.2;
        cursor: default;
    }

    .soldOut:hover {
        box-shadow: none;
    }

    .btn-primary{
        min-width: 115px;
    }

    .discount-badge{
        margin: 8px;
        color:white;
    }
}
