<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{'SALES_PAGE.TITLE' | translate}}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class=" text-primary">
              <th>
                {{'SALES_PAGE.TABLE.PRODUCTS' | translate}}
              </th>
              <th>
                {{'SALES_PAGE.TABLE.DISCOUNTS' | translate}}
              </th>
              <th>
                {{'SALES_PAGE.TABLE.TOTAL_AMOUNT' | translate}}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let sale of sales">
                <td>
                  {{getSaleItems(sale)}}
                </td>
                <td>
                  {{getDiscounts(sale)}}
                </td>
                <td>
                  {{sale.total | currency}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
